#icon {
	height: 100%;
}

.link_btn {
	cursor:pointer
}

footer p {
	color: white;
	font-family: "SimHei";
}

.org-line {
	width: 100%;
	height: 10px;
	background-color: #ff471a;
	margin-top: 20px;
}

.cardview {
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}

#moe {
	width: 75px;
	height: 75px;
	margin-left: 10px;
}

nav li{
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-brand {
	font-size: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
}

@media screen and (max-width: 450px) {
	.brand-heading {font-size: 30px;}
	header {height: 350px;}
	#top-logo {
		width: 175px;
		height: 175px;
	}
	.navbar-brand {
		font-size: 18px;
	}
}

@media screen and (max-width: 330px) {
	.brand-heading {font-size: 25px;}
	.navbar-brand {font-size: 20px;}
	header {height: 290px;}
	#top-logo {
		width: 125px;
		height: 125px;
	}
}