body {
	background-image: url(../img/snow.png);
}

.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus:hover {
	color: #ff471a;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus:hover {
	color: #ff471a;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus {
	box-shadow: inset 0 -2px 0 #e51c23;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus:hover {
	box-shadow: inset 0 -2px 0 #e51c23;
}

#show-papers {
	margin-top: 20px;
	min-height: 500px;
}

.area-hide {
	display: none;
}

.area-hide {
	display: none;
}

.area-show {
	display: block;
}

.author {
	color: green;
}

.papers {
	margin-bottom: 10px;
}

#show-papers {
	overflow-y: auto;
}

.section-title {
	margin-top: 0px;
}

#search-wrapper{
	width: 100%;
	height: 300px;
	background-image: url(../img/header-cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#header-blur {
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.5); 
}

#smart-search {
	padding-top: 10px;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-bottom: 10px;
    margin-right: 49px;
}

.navbar {
	margin-bottom: 0px;
}


#search-area {
	margin-top: 150px;
	margin-bottom: 0px;
}

#search-area input{
	background-color: white;
	padding-left: 5px;
}

.section-title {
    color: #008bf1;
}

#info-area{
    margin-top: 0px;
    padding-top: 20px;
    height: auto;
}