.navbar {
	-webkit-box-shadow: none;
    box-shadow: none;
}

#search-area {
	margin-top: 0px;
	margin-bottom: 0px;
}

#advance-search {
	background-color: #27bfaf;
}

#search-area input{
	background-color: white;
	padding-left: 5px;
}

body {
	background-color: white;
}

#search {
	padding-top: 20px;
    padding-bottom: 10px;
	background-color: #f3f3f3;
}

#advance-search {

}

#top-intro {
	font-family: "Microsoft YaHei";
	color: white;
	font-style: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}


#search-bar {
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

#search-wrapper{
	width: 100%;
	height: 300px;
	background-image: url(../img/header-cover.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#smart-search {
	padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 49px;
}


#header-blur {
	width: 100%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.5); 
}

#top-logo {
	width: 200px;
	height: 200px;
}

.navbar {
	margin-bottom: 0px;
}

nav li{
	margin-left: 5px;
	margin-right: 5px;
}

.page-header {
	margin: 20px 0 23px;
}

#icon {
	height: 100%;
}

#img_logo{
	width: 100%;
	max-height: 100%;
}

.cardview {
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}

#info-area,#results-area{ 
	margin-top: 0px;
	padding-top: 20px;
	height: auto;
}

.link_btn .nav-iter{
	cursor:pointer
}

#results-area{
	margin-top: 20px;
	height: auto;
}

#tab-nav {
	margin-bottom: 10px;
}

.area-hide {
	display: none;
}

.area-show {
	display: block;
}

.author {
	color: green;
}

.papers {
	margin-bottom: 10px;
}

.archive {
	font-size: xx-large;
	text-align: right;
}

#banner{
	margin-top: 10px; 
}



.sidenav {
	padding-top: 50px;
	margin-top: 50px;
    height: 100%;
    min-height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

.brand-heading {
	font-size: 40px;
	color: white;
}

.section-title {
	color: #008bf1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
}

@media screen and (max-width: 450px) {
	.brand-heading {font-size: 30px;}
	header {height: 350px;}
	#top-logo {
		width: 175px;
		height: 175px;
	}

	.navbar-brand {
		font-size: 18px;
	}
	
	h4 {
		font-size: 20px;
	}
}

@media screen and (max-width: 330px) {
	.brand-heading {font-size: 25px;}
	.navbar-brand {font-size: 20px;}
	header {height: 290px;}
	#top-logo {
		width: 125px;
		height: 125px;
	}
}



footer p {
	color: white;
	font-family: "SimHei";
}

.org-line {
	width: 100%;
	height: 10px;
	background-color: #ff471a;
	margin-top: 20px;
}

#moe {
	width: 75px;
	height: 75px;
	margin-left: 10px;
}

.navbar-brand {
	font-size: 20px;
}


