#icon {
	height: 100%;
}

.link_btn {
	cursor:pointer
}

body {
	background-image: url(../img/crossword.png);
}

footer p {
	color: white;
	font-family: "SimHei";
}

.org-line {
	width: 100%;
	height: 10px;
	background-color: #ff471a;
	margin-top: 20px;
}

#paper {
	background-color: white;
}

.cardview {
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}

#moe {
	width: 75px;
	height: 75px;
	margin-left: 10px;
}

nav li{
	margin-left: 5px;
	margin-right: 5px;
}

.paper-info p {
	font-size: 18px;
}

.paper-table tabel {

}

.table-title {
	vertical-align: top;
	text-align: right;
	font-size: 16px;
	padding-right: 5px;
	color: gray;
	width: 150px;
}

.navbar-brand {
	font-size: 20px;
}

.table-info {
	vertical-align: top;
	text-align: left;
	font-size: 16px;
	padding-left: 10px;
	color: black;
}

.page-header p {
    font-size: 14px;
    color: rgb(53, 53, 53);
}

#input-comment {
	background-color: rgba(128, 128, 128, 0.08);
}

#btn-commit {
	margin-top: 10px;
	float: right;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
}

@media screen and (max-width: 450px) {
	.brand-heading {font-size: 30px;}
	header {height: 350px;}
	#top-logo {
		width: 175px;
		height: 175px;
	}
	.table-title {
		font-size: 14px;
		width: 120px;
	}
}

@media screen and (max-width: 330px) {
	.brand-heading {font-size: 25px;}
	.navbar-brand {font-size: 20px;}
	header {height: 290px;}
	#top-logo {
		width: 125px;
		height: 125px;
	}
	.table-title {
		font-size: 12px;
		width: 100px;
	}
}